@font-face { font-family:LoveYa; src:url(../fonts/LoveYaLikeASister.ttf); font-size:10pt,12pt,14pt; }
@font-face { font-family:Kameron; src:url(../fonts/Kameron-Regular.ttf); font-size:10pt,12pt,14pt; }
@font-face { font-family:Kameron-Bold; src:url(../fonts/Kameron-Bold.ttf); font-size:10pt,12pt,14pt; }
html,body {
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    font-family: Kameron;
}

/* unvisited link */
a:link {
    color: white;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: white;
}

/* selected link */
a:active {
    color: white;
}

h1{
    font-family: LoveYa;
}
h2{
    font-family: LoveYa;
}

header{
    margin: 0px auto;
	width: 1280px;
	height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo{
	width: 125px;
	height: 75px;
	margin: 0px auto;
}

#main{
    width:1280px;
    margin: 0px auto;

}
.separator{
    width:100px;
    height: 2px;
    background-color: white;
}

#content{
    width:100%;
    height:auto;
}

nav {
    display: flex;
    margin: 0 auto;
    width: 61%;
    height: 100%;
    justify-content: flex-end;
}

#banner{
    width:1280px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeBanner{
    margin: 0px auto;
}

.article, .rezept, .naehrwerte{
    margin: 0px auto 30px auto;
    width:843px;
    border-top: 2px solid white;
}

.article ul{
    padding-left: 0px;
}

.article ul li{
    display:inline-block;
    width:80px;
    font-size: 11px;
}
.rezept h2{
    font-family: LoveYa;
}
.rezept_zutaten, .rezept_zubereitung, .naehrwerte_links, .naehrwerte_rechts{
    display: inline-block;
    width: 49%;
}
.naehrwerte h1{
    text-align: center
}

footer{
    width: 100%;
    height:50px;
    position: relative;
    bottom: 0px;
}


footer ul {
    display: flex;
    justify-content: center;
}

footer ul li{
    list-style: none;
    padding: 0px 8px;
    display: flex;
    align-self: center;
}

footer ul li a, footer ul a {
    display: flex;
    align-self: center;
    text-decoration: none
}
footer ul li#middleFooterItem{
    border-left: 1px solid white;
    border-right: 1px solid white;
}


@media screen and (max-width: 1024px) {

    html {
        width: 1024px;
    }
    header {
        width: 1024px;
    }
    body {
        width: 1024px;
    }
    
}

@media screen and (max-width: 600px) {
    
    nav {
        min-width: 400px;
    }
    
}

